In [3]:
import pandas as pd
list = [10,20,30,40,50]
print(pd.Series(list))

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
import pandas as pd
date = pd.date_range('05-01-2021','05-12-2021')
print(date)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [11]:
import pandas as pd
dict = {
    'name':["Elvin","Sara","Eldho"],
    'marks':[90,95,100]
}
print(pd.DataFrame(dict))

    name  marks
0  Elvin     90
1   Sara     95
2  Eldho    100

In [15]:
import pandas as pd
frame = [[1,"Elvin",45],
         [2,"Sara",50],
        [3,"Eldho",50]]
print(pd.DataFrame(frame,columns=["id","name","marks"]))

   id   name  marks
0   1  Elvin     45
1   2   Sara     50
2   3  Eldho     50

In [24]:
import pandas as pd
r = pd.read_csv('test.csv')
print(r)

  name mark
0  Elvin 50

In [36]:
import pandas as pd
frame = [[1,"Elvin",45],
        [2,"Sara",50],
        [3,"Eldho",50]]
r = pd.DataFrame(frame,columns=["id","name","marks"])
r.sort_values(by=['name',"id"])

   id   name  marks
2   3  Eldho     50
0   1  Elvin     45
1   2   Sara     50

In [57]:
import pandas as pd
dict = {
    'name':["Elvin","Sara","Eldho"],
    'marks':[90,95,100]
}
c=pd.DataFrame(dict)
print(c.reset_index())

   index   name  marks
0      0  Elvin     90
1      1   Sara     95
2      2  Eldho    100

In [62]:
import pandas as pd
dict = {
    'name':["Elvin","Sara","Eldho"],
    'marks':[90,95,100]
}
c=pd.DataFrame(dict)
print(c.iloc[0:2])

    name  marks
0  Elvin     90
1   Sara     95

In [74]:
import pandas as pd
frame = [["Nitya","Doctor",50000],
         ["Sara","Manager",50000],
        ["Eldho","Teacher",50000],
        ["neha","Teacher",40000]]
v=pd.DataFrame(frame,columns=["name","occupation","salary"])
v.groupby(["name"]).salary.mean()

name
Eldho    50000.0
Nitya    50000.0
Sara     50000.0
neha     40000.0
Name: salary, dtype: float64

In [88]:
import pandas as pd
import numpy as np
nums = {'name':["a","b","c"],
    'marks': [2, 3, np.nan]}
df = pd.DataFrame(nums, columns =['name','marks'])
df['marks'] = df['marks'].fillna(0)
print(df)

  name  marks
0    a    2.0
1    b    3.0
2    c    0.0